<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="success" routerLink="/agregar">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  
  </ion-fab>
<!-- 
  <ion-button expand="block" fill="outline" (click)="cargarEquipo()">
    CargarEquipo  
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="cargarPrioridad()">
    CargarPrioridad  
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="cargarTipo()">
    Cargar Tipo
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="cargarArea()">
    Cargar Area
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="cargarGranja()">
    Cargar Granja
  </ion-button> -->

</ion-content>