<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button color="success" routerLink="/agregar">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  
  </ion-fab>
  <ion-button expand="block" fill="outline" (click)="excel()">
    Exportar a excel
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="actualizarCat()">
    Catalogos insert
  </ion-button>
  
  <ion-button (click)="selecNoGuardada()">
    No guardada
  </ion-button>

</ion-content>