<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-card> -->
    <ion-card-header class="imagen">
      <ion-img src='assets/norsonLogoBlanco.PNG'></ion-img>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" (ionChange)="(inputEmail($event))" [debounce]="250"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Constraseña</ion-label>
          <ion-input type="password" (ionChange)="(inputPass($event))" [debounce]="250"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="secondary" expand="full" (click)="login()">Entrar</ion-button>
      <ion-button size="small" fill="clear" routerLink="/registro" >Crear cuenta</ion-button> <!--(click)="modalRegistro()" > -->
      

      <!-- <ion-button size="small" fill="outline" (click)="validarToken()" >Validar</ion-button>
      <ion-button size="small" fill="outline" (click)="getToken()" >GET</ion-button> -->
    </ion-card-content>
  <!-- </ion-card> -->




</ion-content>