
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <app-header titulo="Manuales"></app-header>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Manuales de mantenimiento</ion-card-title>
      <!-- <ion-card-subtitle>Manuales de mantenimiento</ion-card-subtitle> -->
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" fill="outline" href="https://drive.google.com/drive/folders/1vukJayboEeJSPtm1oNro3Y8kOXKkvvhe">
        Ir
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ckeck list herramienta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" fill="outline" href="https://forms.gle/hwWBNwnBE8qwJqEEA">
        Ir
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ckeck list (Proyecto)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" fill="outline" href="https://forms.gle/qMR495CqWZVZdF4E7">
        Ir
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
