<app-header titulo="Agregar OT"></app-header>

<ion-content>

  <form [formGroup]="agregarForm">

  <ion-card >
    <ion-list>
  
      <ion-list-header>
        <ion-label class="subTitulo">Estatus</ion-label>
      </ion-list-header>
  
      <ion-radio-group  formControlName="agregarForm" (ionChange)="checkEstatus($event)">
   
        <ion-item *ngFor="let stat of lstEstatus; let i=index;" lines="none" (click)="getIdEstatus(i)">
          <ion-label>{{stat.Estatus}}</ion-label>
          <ion-radio slot="start" value="{{stat.Estado}}"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
    </ion-list>
  </ion-card>

  
  <ion-card [hidden]="!codEstatusHidden">
    <ion-list>
  
      <ion-list-header>
        <ion-label class="subTitulo">Prioridad</ion-label>
      </ion-list-header>
  
      <ion-radio-group formControlName="agregarForm" (ionChange)="checkPrioridad($event)">
  
        <ion-item *ngFor="let item of lstPrioridad; let i=index;" lines="none">
          <ion-label>{{item.Nombre}}</ion-label>
          <ion-radio slot="start" value="{{item.Prioridad}}"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
    </ion-list>
  </ion-card>

<ion-card>
  <ion-list>
    <ion-list-header>
      <ion-label class="subTitulo">Tipo</ion-label>
    </ion-list-header>

    <ion-radio-group formControlName="agregarForm" (ionChange)="checkTipo($event)">

      <ion-item *ngFor="let tipo of lstTipo; let i=index;" lines="none" (click)="getIdTipo(i)">
        <ion-label>{{tipo.Tipo}}</ion-label>
        <ion-radio slot="start" value="{{tipo.Codigo}}"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-card>


  <ion-card>
    <ion-list-header>
      <ion-label class="subTitulo">Granja</ion-label>
    </ion-list-header>
  
    <ion-card-content>
  
      <ion-button expand="block" fill="outline" (click)="modalGranja()">
        {{granja}}
      </ion-button>
  
    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-list-header>
      <ion-label class="subTitulo">Area</ion-label>
    </ion-list-header>

    <ion-card-content>
      <ion-button expand="block" fill="outline" (click)="modalArea()">
        {{areaDesc}}
       </ion-button>

    </ion-card-content>
  </ion-card>
<ion-card>
  <ion-list-header class="subTitulo">
    Ubicación
  </ion-list-header>

  <ion-card-content>
    <ion-item>
      <ion-label>Sala</ion-label>
      <ion-select placeholder="Seleccionar" okText="Aceptar" cancelText="Cancelar" (ionChange)="salaValor($event)">
        <ion-select-option value="NA">N/A</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
        <ion-select-option value="11">11</ion-select-option>
        <ion-select-option value="12">12</ion-select-option>
        <ion-select-option value="13">13</ion-select-option>
        <ion-select-option value="14">14</ion-select-option>
        <ion-select-option value="15">15</ion-select-option>
        <ion-select-option value="16">16</ion-select-option>
        <ion-select-option value="17">17</ion-select-option>
        <ion-select-option value="18">18</ion-select-option>
        <ion-select-option value="19">19</ion-select-option>
        <ion-select-option value="20">20</ion-select-option>
        <ion-select-option value="21">21</ion-select-option>
        <ion-select-option value="22">22</ion-select-option>
        <ion-select-option value="23">23</ion-select-option>
        <ion-select-option value="24">24</ion-select-option>
        <ion-select-option value="25">25</ion-select-option>
        <ion-select-option value="26">26</ion-select-option>
        <ion-select-option value="27">27</ion-select-option>
        <ion-select-option value="28">28</ion-select-option>
        <ion-select-option value="29">29</ion-select-option>
        <ion-select-option value="30">30</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>

</ion-card>
  

  <form [formGroup]="ionicForm" (ngSubmit)="guardarObj()" novalidate>  
 
  <ion-card>
    <ion-list-header>
      <ion-label class="subTitulo">Actividad</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea formControlName="actividad" autocapitalize="true" inputmode="text" 
                    placeholder="Describe la actividad a realizar"  
                    [debounce]="250"            
                    (ionChange)="(txtActividad($event))"></ion-textarea>
    </ion-item>
    <!-- para estar parte del errorControlName, el name se cambia por el valor del formgroup (revisar el console
    log en get errorcontrol() ) -->
    <span class="error ion-padding" *ngIf="isSubmitted && errorCtrl.actividad.errors?.required">
      Indicar Actividad
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorCtrl.actividad.errors?.minlength">
      Actividad debe ser mayor a 5 caracteres
    </span>
  </ion-card>

  <ion-card>
    <ion-list-header>
      <ion-label class="subTitulo">Materiales</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-textarea formControlName="materiales" autocapitalize="true" inputmode="text" 
                    placeholder="Describe materiales requeridos"  
                    [debounce]="250"            
                    (ionChange)="(txtMateriales($event))"></ion-textarea>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorCtrl.materiales.errors?.required">
      indicar Materiales
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorCtrl.materiales.errors?.minlength">
      Materiales debe ser mayor a 5 caracteres
    </span>
  </ion-card>

  <!-- <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
    </ion-col>
  </ion-row> -->


  </form>

  <ion-card>
    <ion-list-header>
      <ion-label class="subTitulo">Equipo</ion-label>
    </ion-list-header>
  
    <ion-card-content>
  
      <ion-button expand="block" fill="outline" (click)="modalEquipo()">
        {{equipo}}
      </ion-button>
  
    </ion-card-content>
  </ion-card>

  
 <!-- aqui estaba estatus -->

  <ion-card [hidden]="codEstatusHidden"> <!-- este hidden es para ocutar los técnicos cuando la ot es no realizada-->
    <ion-list-header>
      <ion-label class="subTitulo">Técnicos involucrados</ion-label>
    </ion-list-header>
  
    <ion-card-content>
  
      <ion-button expand="block" fill="outline" (click)="modalTecnico()">
        Seleccionar
      </ion-button>
  
      <ion-list>
        <!-- <ion-label>{{tecnico}}</ion-label> -->
        <!-- lo comente solo para la version beta, que escojan solo 1 tecnico -->
        <ion-item *ngFor="let tecnico of lstTecnico; let i = index;">
          <ion-label>
            {{tecnico.nombre}}
          </ion-label>
          <ion-icon (click)="eliminarTecnico(i)" name="trash-outline"></ion-icon>
        </ion-item>
      </ion-list>
  
  
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="codEstatusHidden"> <!-- este hidden es para ocutar el tipo cuando la ot es no realizada, es con el mismo de tecnicos -->
    <ion-list>
  
      <ion-list-header>
        <ion-label class="subTitulo">Tipo evento</ion-label>
      </ion-list-header>
  
      <ion-radio-group formControlName="agregarForm" (ionChange)="checkEvento($event)">
   
        <ion-item *ngFor="let item of lstEvento; let i=index;" lines="none">
          <ion-label>{{item.Evento}}</ion-label>
          <!-- el evento click lo uso para obtener la descipcion del tipo evento -->
          <ion-radio (click)="obtenerEvento(i)"  slot="start" value="{{item.EstatusEvento}}"></ion-radio>
        </ion-item>
  
      </ion-radio-group>
    </ion-list>
  </ion-card>

    <ion-card>
      <ion-list-header>
        <ion-label class="subTitulo">Imagen</ion-label>
      </ion-list-header>
    
      <ion-card-content>

        <ion-list>
          <ion-item *ngFor="let photo of imgService.photos">
            <!-- <ion-thumbnail slot="start"> -->
              <ion-row>
                <ion-img [src]="photo.webviewPath"></ion-img>
              </ion-row>
              
            <!-- </ion-thumbnail> -->
          </ion-item>
        </ion-list>
    
        <ion-button expand="block" fill="outline" (click)="agregarImagen()">
          Camara
        </ion-button>

      </ion-card-content>
    </ion-card>


  <ion-button expand="block" fill="outline" (click)="guardarObj()">
    Guardar
  </ion-button>

</form>

 
</ion-content>